{% extends 'layout.twig' %}

{% block content %}
<div class="auth-form">
    <h1>Request access</h1>
    <p>Application "{{ client }}" request access: </p>
    {% if scope %}
        <ul>
        {% for scope_item in scope %}
            <li>{{ scope_item }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <form action="{{ action }}" method="post">
        {% for param, value in oauth %}
            <input type="hidden" name="{{ param }}" value="{{ value }}">
        {% endfor %}
        <div>
            <label for="user_id">Who are you?</label>
            <select id="user_id" name="user_id">
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.login }} ({{ user.roles }})</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <button type="submit" class="button">Accept</button>
    </div>
    </form>
</div>

{% endblock %}